<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <%- include('partials/head') %>
</head>

<body>

<%- include('partials/navbar') %>


<div class="container contain mx-auto">
    <br>
    <h3 class="text-center">Contact Us</h3>

    <br><br>

    <p>GEU, Dehradun</p>
    <p>Near Post office Road, Clement Town,</p>
    <p>Dehradun 248002.</p>
    <p>Conatct: + 91 -8126967071</p>
    <p>Email: shekhar.happy77@gmail.com</p>
</div>

<br><br>


<%- include('partials/footer') %>



</body>

</html>