<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <%- include('partials/head') %>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
</head>

<body>

<%- include('partials/navbar') %>

<div class="container">
    <br>
    <p class="text-center"><%=msg %></p>
    <br>
    <!--    FORM-->
</div>

<%- include('partials/footer') %>


</body>

</html>